*~
*.swp

debs/zabbix-check/zabbix-check-*/debian/zabbix-check-*
!debs/zabbix-check/zabbix-check-*/debian/zabbix-check-*.install


*/debian/files
*/debian/*.log
*/debian/*.substvars

*.deb
*.build
*.changes

