Source: zabbix-check-ksm
Maintainer: Sebastian Huebner <sebastian@hueb-ner.de>
Section: net
Priority: optional
Standards-Version: 3.8.4

Package: zabbix-check-ksm
Architecture: all
Pre-Depends: sudo, zabbix-agent
Depends: ucf, lsb-base
Description: KSM monitoring script for zabbix
 Provides a script, to monitore the KSM (Kernel Samepage Merging).
