Source: zabbix-remotecommand
Maintainer: Christoph Hueffelmann <chr@istoph.de>
Section: net
Priority: optional
Standards-Version: 3.8.4

Package: zabbix-remotecommand
Pre-Depens: sudo
Depends: zabbix-agent-config
Architecture: all
Description: zabbix remotecontrol scripts
  scripts to restart services

