Source: zabbix-check-lxc
Maintainer: Sebastian Huebner <sebastian@hueb-ner.de>
Section: net
Priority: optional
Standards-Version: 3.8.4

Package: zabbix-check-lxc
Architecture: all
Pre-Depends: sudo, zabbix-agent
Depends: ucf, lsb-base, lxc, python (>= 2.6)
Description: LXC monitoring script for zabbix
  Provide a script to monitore LinuX Containers
