Source: zabbix-check-postfix
Maintainer: Christoph Hueffelmann <chr@istoph.de>
Section: net
Priority: optional
Standards-Version: 3.8.4

Package: zabbix-check-postfix
Architecture: all
Depends: zabbix-agent (>=2.0), pflogsumm, logtail, sudo
Description: zabbix-agent postfix passiv check
 This checks look as Bounced, Bytes Delivered, 
 Bytes Received, Deferred, Delivered, Discarded, 
 Forwarded, Held, Mail Queue, Received, Rejected, Reject Warnings
